html, body {
    background-color: #252a34;
}

/* Logos */

.angular-logo {
    font-size: 3em;
}

.reveal section img { 
    background:none; 
    border:none; 
    box-shadow:none; 
}

.reveal ul {
    display: block;
    text-align: left;
}

th {
    color: #74ede5;
}

/*
p > code, td > code, li > code {
    color: white;
    font-size: 70% !important;
    letter-spacing: 0;
    padding: 2px 0 !important;
    background-color: lightslategrey;
    border-radius: 4px;
}
*/

/* Code */

.reveal pre > code {
    font-family: 'Fira Code', monospace;
    font-size: 0.8em;
    background-color: #222630;
}

.reveal code {
    background-color: #222630;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    padding: 0 0.5em;
    font-family: 'Fira Code', monospace;
    font-size: 0.8em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1), 0 -1px 0 rgba(0,0,0,0.5);
}

/* Emoji */

span.emoji-steam-face::before {
    content: "😤";
}

span.emoji-angry-face::before {
    content: "🤬";
}

span.emoji-rocket::before {
    content: "🚀";
}

.emoji-3-font-size {
    font-size: 3em;
}

/* Author, first page */

.main-icon {
    font-size: 1.5em;
}

.red-heart {
    color: magenta;
}

/* Text highlight */

.text-highlight {
    color:#FFCC00;
    font-style: italic;
}

.text-highlight-yellow {
    color: #FFCC00;
}

.text-highlight-orange {
    color: #ff5733;
}

.text-highlight-red {
    color: #fd4445;
}

.text-highlight-violet {
    color: #900c3f;
}

.text-highlight-violet-dark {
    color: #581845;
}