.angular-logo {
    font-size: 3em;
}

.reveal section img { 
    background:none; 
    border:none; 
    box-shadow:none; 
}

.reveal ul {
    display: block;
    text-align: left;
}

th {
    color: #74ede5;
}

p > code, td > code, li > code {
    color: white;
    font-size: 70% !important;
    letter-spacing: 0;
    padding: 2px 0 !important;
    background-color: lightslategrey;
    border-radius: 4px;
}

span.emoji-steam-face::before {
    content: "😤";
}

span.emoji-angry-face::before {
    content: "🤬";
}

span.emoji-rocket::before {
    content: "🚀";
}

.emoji-3-font-size {
    font-size: 3em;
}

.main-icon {
    font-size: 1.5em;
}

.red-heart {
    color: magenta;
}

.text-highlight {
    color:#74ede5;
    font-style: italic;
}

.text-highlight-yellow {
    color: #FFCC00;
}

.text-highlight-orange {
    color: #ff5733;
}

.text-highlight-red {
    color: #fd4445;
}

.text-highlight-violet {
    color: #900c3f;
}

.text-highlight-violet-dark {
    color: #581845;
}